.FirstPage {
  text-align: center;
}


@media only screen and (max-width: 800px) {
  .heading1
  {
      font-size: 50px;
      color:white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
  }
  
}
@media only screen and (min-width: 800px) {
  .heading1
{
    font-size: 70px;
    color:white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

}

.bitzoomLogo{
  height: 4rem;
  width: 4rem;
}


/* style={{fontSize:'70px', color:"white",backgroundColor:"black",borderTopLeftRadius:'20px', borderTopRightRadius:'20px',borderBottomLeftRadius:'20px', borderBottomRightRadius:'20px'}} */
